#service-select {
    width: 240px;
    position: absolute;
    left: 10px;
}
#service-select ul, #service-select ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#service-select ul {
    overflow: auto;
    height: 240px;
    width: 200px;
}
#options-and-code {
    margin-left: 220px;
    width:0;
}
